<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= link_to 'Send Friend Request', friend_requests_path(  friend_id: @user.id) , method: :post %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
